<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Roles</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user) { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        <td><%= user.name %></td>
                        <!-- <td><%= user.roles %></td> -->
                        <td>2</td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <div id="registration-form">
                <h2>Register New User</h2>
                <form>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" /><br />

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" /><br />

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" /><br />

                    <button type="submit" id="register-btn">Register</button>
                </form>
            </div>
        </main>
    </body>
</html>
